.login-table{
	border: 3px solid  #4435eb;
	background-image:url('../images/content.png');
	/* #4CAF50*/
	border-collapse:separate;
	width:50%;
	overflow:hidden;
}
.label{
	width: 150px;
	text-align: right;
}
.login-input {
    
}
/* input[type=text] {
    clear:both;
    overflow: hidden;
   
}
input[type=password] {
    clear:both;
	overflow: hidden;
} */
.submit{

	margin:auto;
	
 }
 .trSpace{
 height:150px;
 text-align: center;
 color:white;
 
 }
 